* {
    box-sizing: border-box;
}

body {
    
    background-image: url("https://www.desktopbackground.org/p/2013/09/01/632079_grey-lines-wallpapers_1920x1440_h.png");
}


/* --------------------------------------Navbar CSS --------------------------------------- */
    .navbar-brand {
   
   background-color: #20B2AA;
   color: white !important;
   padding: 15px;
   margin-left: 20px;
   font-size: 30px;

}       
    .navbar-nav {
    margin-left: auto;
}
  
    nav {
        background-color: white !important;
    }


    /* ---------------------------------Contact form CSS------------------------------------ */

    h1 {
        color: #20B2AA;
    }
    
    form {
        background-color:white;
        margin-top: 75px;
        padding-bottom: 50px;
     
    }

    .form-group {
        margin: 0px 40px;
        padding: 10px;
    }

    /* !important used to increase priority of CSS code written
       border-color used to eleminate blue outline
       border-radius set to 0 to get more of a box shape 
    */
    .btn-primary {
        margin-top: 30px;
        margin-left: 30px;
        background-color:#20B2AA !important;
        border-color: #20B2AA !important;
        border-radius: 0 !important;
        
    }

    /* ----------------------------------About Me------------------------------------------ */
   .about-me{
       background-color: white;
       margin-top: 75px;
       margin: 0px 40px;
       padding: 10px;
   }

 

   /* -----------------------------------Portfolio-------------------------------------------- */
   
   .card-body{
    background-color: white;
    margin: 0px px;
    padding: 10px;
    display: inline-block;
}
   .portfolio {
    margin-top: 75px;
}
