* {
    box-sizing: border-box;
}

body {
    
    background-image: url("https://www.desktopbackground.org/p/2013/09/01/632079_grey-lines-wallpapers_1920x1440_h.png");
}


/* Navbar CSS */
    .navbar-brand {
   
   background-color: #20B2AA;
   color: white !important;
   padding: 20px;
   margin-left: 40px;
   font-size: 25px;

}       
    .navbar-nav {
    margin-left: auto;
}
  
    nav {
        background-color: white !important;
    }


    /* Contact form CSS */

    
    form {
        background-color:white;
        margin-top: 75px;
    }

    .form-group {
        margin: 0px 40px;
    }
   